#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-left: 20%;
}
html, body {
  margin: 0;
  padding: 0;
}
input, button, select {
  padding: 0;
  border: 0;
  background-color: inherit;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

body {
  margin: 100px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 125%;
  order: 1;
  cursor: pointer;
  transition: all .4s ease;
}

.black_active {
  color: black;
  background: black;
  transform: rotateY(180deg);
}

.wrapper {
  width: 600px;
  grid-template-columns: repeat(6, 100px);
  grid-gap: 10px;
  margin-left: 10%;
  display: grid;
}
